<div style="color: white;" class="content">
    <h3 style="color: aqua;">About Me</h3>
<h4>Transforming Ideas into Interactive Experiences.</h4>
</div>

<br>
<!-- Content -->
<div style="color: white;" class="row">
  <div class="col"><h5>Starting an online business? I work from a business owner's viewpoint, 
    studying every facet of your business model to effectively manage your Website/Design and marketing. 
    The main focus is to get your business into a perfect shape and cross one barrier after 
    another by doing all the research and market analysis. Your business is my priority.</h5></div>
</div>

<!-- <div class="container ">
  <div class="row">
    <div class="col d-flex justify-content-end">
      <div class="box d-flex justify-content-end"></div>
    </div>
  </div>
</div> -->


<!-- Pointer -->
<div id="canvas-container">
  <canvas #canvas></canvas>
</div>
